<%- include('header'); -%>

<section class = "Squezer">
  <div class="row">
 <div class="col-lg-6 col-12 smoothbackground">
   <h1>Welcome to Debtorian.</h1>
   <h2>You can login or register.</h2>
   <br>
   <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
   <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
 </div>
 </div>
</section>

<%- include('footer'); -%>
