<%- include('header'); -%>

<section class = "Squezer">
  <div class="row">
 <div class="col-lg-6 col-12 smoothbackground">
   <h1>I'm sorry but you made a mistake somewhere.</h1>
   <h2>You can go back if you want.</h2>
 </div>
</section>

<%- include('footer'); -%>
